{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for('add_expense') }}">Add New Expense</a>
    <h2>All Expenses</h2>
    <table>
        <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense[1] }}</td>
            <td>{{ expense[2] }}</td>
            <td>{{ expense[3] }}</td>
            <td>{{ expense[4] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}